@font-face {
    font-family: "Ahold";
    src: url("ahold.ttf");
  }
  
  @font-face {
    font-family: "Meta CE";
    src: url("meta-ce-bold.ttf");
    font-weight: bold;
  }
  
  @font-face {
    font-family: "Meta CE";
    src: url("meta-ce-normal.ttf");
    font-weight: normal;
  }
  