/* main style */

body {
    margin: 0;
    padding: 0;
  }
  
  html, body
  {
    /* text-rendering: geometricprecision !important; */
    /* -webkit-font-smoothing: subpixel-antialiased !important; */
    -webkit-font-smoothing: none !important;
    /* working */
    /* -webkit-text-stroke-width: 0.01px !important; */
    /* text-shadow: 0px 0px 0px !important; */
  }
  
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  /* page style */
  
  @media screen {
    body {
      background-color: #FAFAFA;
    }
    #page {
      width: 210mm;
      min-height: 297mm;
      margin: 2mm auto;
      border: 1px #D3D3D3 solid;
      border-radius: 5px;
      background: white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }
  
  @page {
    size: A4;
    margin: 0;
  }
  
  @media print {
    #page {
      /* margin: 0; */
      /* fix buggy 15th 16ht label :) */
      /* margin-right: -1px; */
      /* border: initial; */
      /* border-radius: initial; */
      /* width: initial; */
      /* min-height: initial; */
      /* background: initial; */
      /* box-shadow: initial; */
      page-break-after: always;
    }
  }
  
  /* only for devel overlay */
  .Xpage:first-of-type::before {
    position: absolute;
    content: '';
    background: url(zlute.png) no-repeat;
    background-size: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* *** page fit - size recalculate *** */
  /* ----------------------------------- */
  /* width labels:  3 * (5.4 + 58 + 5.4) = 206.4 */
  /*       page:    1 + 206.4 + 1 = 208.8 !!! < 210 */
  /* height labels: 7 * (1.86 + 36 + 1.86) ==  278.04 */
  /*       page:    9.4 + 278.04 + 9.4 = 296,84 !!! < 297 */
  
  #page {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    /* align-content: flex-start; */
    /* justify-content: space-between; */
    padding: 9.4mm 1mm;
  }
  
  /* label style */
  
  #label {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 1.86mm 5.4mm;
    background: #ffff00;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  #label div,
  #label svg {
    position: absolute;
  }
  
  /* element style */
  
  #name {
    top: 0;
    left: 0;
    font: bold 20px 'Meta CE';
  }
  
  #price-old {
    top: 6mm;
    text-decoration: line-through;
    font: 3mm 'Ahold';
  }
  
  #discount {
    top: 11mm;
    left: 0;
    font: 10mm 'Ahold';
  }
  
  #discount-per {
    top: 15mm;
    left: 2mm;
    color: white;
    font: 6mm 'Meta CE';
  }
  
  #price {
    top: 4mm;
    right: 10mm;
    text-align: right;
    font: 17mm 'Ahold';
  }
  
  #price-frac {
    top: 3.5mm;
    right: 1mm;
    text-align: right;
    font: 6.5mm 'Ahold';
  }
  
  #price-cur {
    top: 13mm;
    right: 1mm;
    text-align: right;
    font: bold 3.5mm 'Meta CE';
  }
  
  #hr {
    top: 22.4mm;
    left: 0;
    font: 3.5mm "Meta CE";
  }
  
  #ean {
    top: 25mm;
    left: 0;
    font: 1.8mm 'Ahold';
  }
  
  #barcode {
    top: 24.6mm;
    left: -2.3mm;
    width: 22mm;
  }
  
  #barcode[jsbarcode-format='EAN13'] {
    width: 30mm;
    max-height: 19mm;
  }
  
  #shelf {
    top: 32.3mm;
    left: 0;
    font: 2.5mm 'Meta CE';
  }
  
  #price-unit {
    top: 24.8mm;
    right: 1.8mm;
    text-align: right;
    font: 2.5mm 'Meta CE';
  }
  
  #description {
    top: 27.2mm;
    right: 1.8mm;
    text-align: right;
    font: 2.5mm 'Meta CE';
  }
  
  #description2 {
    top: 29.7mm;
    right: 1.8mm;
    text-align: right;
    font: 2.5mm 'Meta CE';
  }
  
  #supplier {
    top: 32.3mm;
    right: 1.8mm;
    text-align: right;
    font: 2.2mm 'Meta CE';
  }
  